# Coqui TTS engine (includes tokenizer and model support)
TTS>=0.21.0

# PyTorch (for model execution)
torch>=2.0.0

# EPUB parsing
ebooklib>=0.17.1

# Text processing
beautifulsoup4>=4.9.3
spacy >= 3.7.0
#en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
#de-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/de_core_news_sm-3.7.0/de_core_news_sm-3.7.0-py3-none-any.whl
xx-sent-ud-sm @ https://github.com/explosion/spacy-models/releases/download/xx_sent_ud_sm-3.7.0/xx_sent_ud_sm-3.7.0-py3-none-any.whl

# Audio processing
pydub>=0.25.1
numpy>=1.19.5
# need brew install ffmpeg
ffmpeg-python>=0.2.0  # Python wrapper

# Progress display
tqdm>=4.62.3
