# Coqui TTS engine (includes tokenizer and model support)
TTS>=0.21.0

# PyTorch (for model execution)
torch>=2.0.0

# EPUB parsing
ebooklib>=0.17.1
beautifulsoup4>=4.9.3
nltk >= 3.8

# Audio processing
pydub>=0.25.1
numpy>=1.19.5
# need brew install ffmpeg
ffmpeg-python>=0.2.0  # Python wrapper

# Progress display
tqdm>=4.62.3
